$uni-color-primary: #a63d2f;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;
$uni-text-color: #2a251f;
$uni-text-color-inverse: #fff;
$uni-text-color-grey: #8b8273;
$uni-bg-color: #fffdf7;
$uni-bg-color-grey: #f6f1e6;
$uni-border-color: #e8dfcc;
